*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-image: url('./background.jpg');
    height: 100vh;
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
}
.box{
    width: 600px;
    background-color: #fff;
    border-radius: 12px;
    padding: 40px 30px;
}
.box-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-left h1,.header-right h1{
    color: blue;
    margin-bottom: 12px;
    font-size: 55px;
    font-weight: 800;
}
.header-left p,.header-right p{
    color: #999;
    font-size: 28px;
}
.line{
    width: 35px;
    height: 6px;
    background-color: aqua;
}
.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}
.main p{
    color: #999;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 600px;
}
.main h6{
    font-size: 26px;
    font-weight: 600px;
}
.footer{
    display: flex;
    margin-top: 25px;
}
.footer-info,.footer-img{
    width: 50%;
}
.footer_info_text p{
   color: #999;
   margin-bottom: 14px;
   font-size: 24px;
}
.footer_info_text h3{
    font-size: 30px;
    margin-bottom: 20px;

}
.footer-img  img{
    width: 100%;
    height: auto;
}